<div class="well breadcrumbs">
	<div class="row">
		<div class="col-sm-8 left">
			<strong><%= Date.today.to_s(:long) %></strong> - 
			<%= @configurations.store_name.blank? ? "PushVendor Point of Sale" : @configurations.store_name %>
		</div>
		<div class="col-sm-4 right">
			<%= params[:controller] %> <%= params[:action] == 'index' ? '' : "/ #{params[:action]}" %>
		</div>
	</div>
</div>