/* ==========================================================================
   Breakpoints
   ========================================================================== */
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a:hover {
  cursor: pointer;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Site-specific styles
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
hr {
  margin: 0 0 16px 0;
  padding: 0;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 0.9em;
}
p {
  font-size: 0.85em;
}
a {
  text-decoration: none;
}
hr {
  clear: both;
}
body {
  padding: 10px;
  background: #fff !important;
}
body .pos_wrapper {
  margin-top: 60px !important;
}
body .navbar {
  background: #428BCA;
}
body .navbar .container a {
  color: #fff;
}
body .navbar .container a:hover {
  color: #ddd !important;
}
body .navbar .container .nav {
  color: #fff;
}
body .navbar .container .nav a {
  color: #fff;
}
body .navbar .container .nav a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
body .navbar .container .dropdown-menu a {
  color: #777;
}
body .navbar .container .dropdown-menu a:hover {
  color: #444 !important;
}
.item_search,
.customer_search,
.sale_comments {
  display: none !important;
}
.item_search_wrapper {
  padding: 20px 0px;
}
.item_search_wrapper form {
  margin-top: 30px;
}
.add_to_current_sale {
  color: #428BCA;
}
/* ==========================================================================
   Dashboard
   ========================================================================== */
.dashboard_menu {
  padding: 0px !important;
  margin: 12px auto;
  background: #efefef;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
.dashboard_menu .nav a {
  color: #777;
}
.dashboard_menu .nav a:hover {
  background: none !important;
  color: #444;
}
/* ==========================================================================
   Login Form
   ========================================================================== */
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin button.btn {
  box-shadow: none;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin {
  margin-top: 10%;
  background: #F0F0F0;
  -webkit-border-radius: 12px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 12px;
  -moz-background-clip: padding;
  border-radius: 12px;
  background-clip: padding-box;
  -webkit-box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.39);
  box-shadow: 7px 8px 0px rgba(0, 0, 0, 0.39);
}
.form-signin .form-signin-heading {
  position: absolute;
  margin-top: -60px;
  color: #777;
}
.form-signin .copyright {
  position: absolute;
  margin-top: 30px;
  color: #777;
}
.clearboth {
  clear: both;
}
.pos_wrapper .panel.col-sm-6 {
  padding: 0px;
}
.amount .form-control {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
.amount .adjust {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  float: right;
  text-align: center;
}
.amount .adjust a {
  display: block;
}
.sale_submit {
  display: none !important;
}
.edit_sale table input {
  border: none !important;
  background: #fff !important;
}
.row .sale_totals .input-group.total_price_output .price_output {
  background: none;
  border: none;
  font-size: 3em;
  height: auto;
}
.custom_item_link {
  color: #3085db;
  cursor: pointer;
}
.create_an_item {
  /*display: none;*/

}
.comments {
  margin-top: 30px;
}
.breadcrumbs .row .right {
  text-align: right;
  font-size: 1.1em;
  text-transform: uppercase;
}
/* ==========================================================================
   Forms
   ========================================================================== */
form {
  margin: 0 0 16px 0;
}
form h3 {
  margin-top: 16px;
}
form h4 {
  margin-top: 16px;
}
form .row {
  margin: 0 0 6px 0;
}
@media only screen and (min-width: 768px) {
  form .row {
    clear: both;
    overflow: auto;
  }
}
form .row .left {
  margin: 0 0 6px 0;
}
@media only screen and (min-width: 768px) {
  form .row .left {
    float: left;
    width: 50%;
    padding: 0 6px 0 0;
    margin: 0;
  }
}
form .row .right {
  margin: 0 0 6px 0;
}
@media only screen and (min-width: 768px) {
  form .row .right {
    float: right;
    width: 50%;
    padding: 0 0 0 6px;
    margin: 0;
  }
}
form label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 2px;
}
form .text input,
form .text textarea {
  width: 100%;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 0.9em;
  color: #000;
  padding: 4px;
}
form .text textarea {
  height: 80px;
}
form .select select {
  width: 100%;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 0.9em;
  color: #000;
  padding: 4px;
}
form .dateSelect select {
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  font-size: 0.9em;
  color: #000;
  padding: 4px;
}
form .options p {
  margin: 10px 0;
}
form .options .option {
  margin: 6px 0 0 2px;
}
form .options label {
  display: inline-block;
  margin-left: 6px;
}
form .checkbox label {
  display: inline-block;
  margin-left: 6px;
}
form .submitButton {
  text-align: center;
  margin-top: 12px;
}
form .submitButton input {
  -webkit-appearance: none;
  background: #000;
  width: auto;
  border: none;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  font-size: 1.1em;
  color: #fff;
  padding: 4px 8px;
}
form .action {
  margin-top: 12px;
  text-align: center;
}
/* ==========================================================================
   Flashes
   ========================================================================== */
.flash {
  margin: 0 0 16px 0;
}
.flash p {
  color: #fff;
  text-align: center;
  padding: 6px;
  font-size: 1.2em;
}
.notice {
  background: #666;
}
.error {
  background: #ff0000;
}
.errorExplanation {
  background: #ff0000;
  text-align: center;
  padding: 6px;
  margin: 0 0 16px 0;
}
.errorExplanation h2 {
  display: none;
}
.errorExplanation p {
  color: #fff;
  font-size: 1.2em;
}
.errorExplanation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.errorExplanation ul li {
  color: #fff;
}
