<ul class="nav nav-pills">
	<li><%= link_to 'Total Sales', total_report_reports_path %></li>
	<li><%= link_to 'Date Range', date_range_report_reports_path %></li>
	<li><%= link_to 'Customer Sales', customer_report_reports_path %></li>
	<li><%= link_to 'Item Sales', item_report_reports_path %></li>
</ul>