<div class="panel panel-default">
  <div class="panel-heading"><a href="/reports">Reports</a></div>
  <%= render :partial => 'report_menu' %>
  <div class="panel-body">

  	Total Sales: <%= get_all_sales %>

	</div>
</div>